<!DOCTYPE html>
<html>
  <head>
    <title>todays_gohan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>
        <div class="header-logo">
          <%= link_to("今日のごはん", "/") %>
        </div>
        <ul class="header-menus">
          <% current_user = User.find_by(id: session[:user_id]) %>

          <% if current_user %>
            <li>
              <%= link_to(current_user.name, "/users/#{current_user.id}") %>
            </li>
            <li>
              <%= link_to("Myアカウント", "/accounts") %>
            </li>
          <% else %>
            <li>
              <%= link_to("ログイン", "/login") %>
            </li>
            <li>
              <%= link_to("新規登録", "/signup") %>
            </li>
          <% end %>
        </ul>
      </header>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>

      <footer>
        <div class="footer-logo">copy right. 2024</div>
      </footer>
  </body>
</html>
